<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragmentos/template}"
>
<head></head>

<body>
   	<div class="card shadow" layout:fragment="corpo_pagina">
   		<div class="card-header font-weight-bold">MATRIZ CURRICULAR</div>
   	
   		<div class="card-body">
	   		<div class="form-group col-12">
				<div class="row">
					<div class="col-12">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Semestre</th>
									<th>Disciplina</th>
								</tr>
							</thead>
							
							<tbody id="table_matriz">
								<tr th:each="matriz: ${matriz_disciplinas}">
									<td th:text="${matriz.semestre}"></td>
									<td th:text="${matriz.disciplina.nome}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
   					
  			<div class="form-group col-12">
				<a class="btn btn-secondary btn-sm font-weight-bold" th:href="@{'/cursos/' + ${curso.id} + '/matrizes'}">
					<i class="fas fa-arrow-left"></i>
					<span>Voltar</span>
				</a>
			</div>
   		</div>
   	</div>
</body>

</html>