<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragmentos/template}"
>
<head></head>

<body>
   	<div class="card shadow" layout:fragment="corpo_pagina">
   		<div class="card-header font-weight-bold">DISCIPLINAS</div>
   	
   		<div class="card-body">
   			<a th:href="@{'/disciplinas/cadastrar'}" class="btn btn-success btn-sm mb-3 font-weight-bold">
				<i class="fas fa-plus"></i> Nova Disciplina
			</a>
	                 		
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Sigla</th>
						<th>Status</th>
						<th class="text-center">Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="disciplina: ${disciplinas}">
						<td th:text="${disciplina.id}"></td>
						<td th:text="${disciplina.nome}"></td>
						<td th:text="${disciplina.sigla}"></td>
						<td>
							<span
								th:text="${disciplina.status} ? 'Ativa' : 'Inativa'"
								th:class="badge"
								th:classappend="${disciplina.status} ? 'badge-success' : 'badge-danger'"
							></span>
						</td>
						<td class="text-center">
							<a 
								th:href="@{'/disciplinas/' + ${disciplina.id}} + '/editar'" 
								class="btn btn-warning btn-sm"
								title="Editar"
							>
								<i class="fas fa-edit"></i>
							</a>
							
							<!-- ATIVAR/DESATIVA A DISCIPLINA -->
							<a th:if="${disciplina.status}"
								th:href="@{'/disciplinas/' + ${disciplina.id}} + '/status?s=false'" 
								class="btn btn-danger btn-sm" 
								title="Desativar"
							>
								<i class="fas fa-times-circle"></i>
							</a>
							
							<a th:unless="${disciplina.status}"
								th:href="@{'/disciplinas/' + ${disciplina.id}} + '/status?s=true'" 
								class="btn btn-success btn-sm" 
								title="Ativar"
							>
								<i class="fas fa-check-circle"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>     
</body>

</html>