<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acadêmico</title>
</head>

<body>
	<a th:href="@{/}">Index</a>
	
	<h1>Cursos:</h1>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Matriz Curricular</th>
		</tr>
		
		<tr th:each="curso: ${cursos}">
			<td th:text="${curso.id}"></td>
			<td th:text="${curso.nome}"></td>
			<td><a th:href="@{'/matriz/' + ${curso.id}}">Ver Mais</a></td>
		</tr>
	</table>
</body>

</html>