<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acadêmico</title>
</head>

<body>
	<a th:href="@{/}">Index</a>

	<h1>Disciplinas:</h1>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Sigla</th>
			<th></th>
		</tr>
		
		<tr th:each="disciplina: ${disciplinas}">
			<td th:text="${disciplina.id}"></td>
			<td th:text="${disciplina.nome}"></td>
			<td th:text="${disciplina.sigla}"></td>
			<td><a href="">Editar</a></td>
			<td><a href="">Remover</a></td>
		</tr>
	</table>
</body>

</html>