<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acadêmico</title>
</head>

<body>
	<a th:href="@{/}">Index</a>

	<h1>Matriz Curricular:</h1>
	
	<p>Curso de <span th:text="${curso.nome}"></span></p>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Código</th>
			<th>Data</th>
			<th>Status</th>
			<th>Gerenciar</th>
		</tr>
		
		<tr th:each="matriz: ${matrizes}">
			<td th:text="${matriz.id}"></td>
			<td th:text="${matriz.codigo}"></td>
			<td th:text="${#dates.format(matriz.dataMatriz, 'dd/MM/YYYY')}"></td>
			<td th:text="${matriz.status} ? 'Ativa' : 'Descontinuada'"></td>
			<td><a href="">Editar</a></td>
		</tr>
	</table>
</body>

</html>