<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acadêmico</title>
</head>

<body>
	<a th:href="@{/}">Index</a>

	<h1>Turmas:</h1>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Semestre</th>
			<th>Disciplina</th>
			<th>Professor</th>
		</tr>
		
		<tr th:each="turma: ${turmas}" th:object="${turma}">
			<td th:text="*{id}"></td>
			<td th:text="*{anoLetivo} + '.' + *{semestre}"></td>
			<td th:text="*{disciplina.nome}"></td>
			<td th:text="*{professor.nome}"></td>
			<td><a th:href="@{'/turmas/' + *{id} + '/alunos'}">Alunos</a></td>
			<td><a href="">Editar</a></td>
		</tr>
	</table>
</body>

</html>