<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acadêmico</title>
</head>

<body>
	<a th:href="@{/}">Index</a>

	<h1>Turma/Alunos:</h1>
	
	<p>Disciplina: <label th:text="${turma.disciplina.nome}"></label></p>
	<p>Professor: <label th:text="${turma.professor.nome}"></label></p>
	<p>Semestre: <label th:text="${turma.anoLetivo} + '.' + ${turma.semestre}"></label></p>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Aluno</th>
			<th>Matrícula</th>
		</tr>
		
		<tr th:each="aluno: ${turma.alunos}" th:object="${aluno}">
			<td th:text="*{id}"></td>
			<td th:text="*{nome}"></td>
			<td th:text="*{matricula}"></td>
			<td><a href="">Remover da turma</a></td>
		</tr>
	</table>
</body>

</html>